/esb/app/external/SonyFactory/target/
/esb/app/external/Payment/dist/
/esb/app/external/SonyFactory_old/target/
/esb/app/external/Sony/nbproject/private/
/esb/app/external/Sony/build/
/esb/app/external/Sony/dist/
/esb/app/external/Payment/build/
/esb/app/external/Servientrega/target/
/esb/app/external/Servientrega_/target/
/esb/app/external/DHL/nbproject/private/
/esb/app/external/DHL/build/
/esb/app/external/DHL/dist/
/esb/app/external/RapidService/nbproject/private/
/esb/app/external/RapidService/build/
/esb/app/external/RapidService/dist/
/.metadata/
