/esb/app/external/SonyFactory/target/
/esb/app/external/Payment/dist/
/esb/app/external/SonyFactory_old/target/
/esb/app/external/Sony/nbproject/private/
/esb/app/external/Sony/build/
/esb/app/external/Sony/dist/